
<ion-content>

  <div id="logo-container">
    <img src="../../assets/img/christie_logo.png" width=40%>
  </div>
<div id="container">
<div id="center-margin">
<form #form="ngForm" (ngSubmit)="signIn(form)" novalidate>
  <ion-grid>
    <ion-row>
      <ion-col>
  <ion-item>
    <ion-input type="text" autocapitalize="words" required [(ngModel)]="contractor.firstName" [ngModelOptions]="{standalone: true}" placeholder="First Name"></ion-input>
  </ion-item>
</ion-col>
<ion-col>
  <ion-item>
    <ion-input type="text" autocapitalize="words" required [(ngModel)]="contractor.lastName" [ngModelOptions]="{standalone: true}" placeholder="First Name"></ion-input>
  </ion-item>
</ion-col>
</ion-row>
<ion-row>
  <ion-col>
<ion-item>
<ion-input type="text" autocapitalize="words" required [(ngModel)]="contractor.company" [ngModelOptions]="{standalone: true}" placeholder="Company"></ion-input>
</ion-item>
</ion-col>
<ion-col>
<ion-item>
<ion-input type="number" required [(ngModel)]="contractor.phoneNumber" [ngModelOptions]="{standalone: true}" placeholder="Phone Number"></ion-input>
</ion-item>
</ion-col>
</ion-row>
<ion-row>
<ion-col>
<ion-item>
<ion-input type="text" autocapitalize="characters" required [(ngModel)]="contractor.rego" [ngModelOptions]="{standalone: true}" placeholder="Vehicle Registration"></ion-input>
</ion-item>
</ion-col>
<ion-col>
<ion-item>
<ion-input type="text" autocapitalize="words" [(ngModel)]="contractor.area" [ngModelOptions]="{standalone: true}" placeholder="Work Area"></ion-input>
</ion-item>
</ion-col>
</ion-row>
</ion-grid>
 

    
  <h1>Christie Spaces Contractor Agreement</h1>
  <p>Our supplying you with a permit authorises you to proceed with the work in the area and on the equipment specified.</p>
  <ul>
  <li style="text-align: left;">The work area is to be left in a safe and clean condition upon departure.</li>
  <li style="text-align: left;">The permit supplied must be worn at all times whilst on the premises.</li>
  <li style="text-align: left;">On departure please return to your point of entry, return the permit and 'Sign Out'.</li>
  <li style="text-align: left;">Smoking is not permitted on these premises.</li>
  <li style="text-align: left;">Please observe all safety signage and instructions of the property manager.</li>
  <li style="text-align: left;">All contractors must wear Personal Protective Equipment (PPE) as required.</li>
  <li style="text-align: left;">In the event of a fire or emergency evacuation, follow the instructions of fire officials or company management. </li>
  <li style="text-align: left;">Please report all incidences or potential areas of risk to the property manager.</li>
  <li style="text-align: left;">In signing this form I confirm that all keys and/or access passes will be collected from, and returned to building management at 56 Berry St, North Sydney, NSW 2060.</li>
 <p>SIGNING THIS FORM CONFIRMS THAT A CHRISTIE SPACES EMPLOYEE HAS SAFETY-INDUCTED YOU ON TO THIS SITE.</p>
 <p>ANY HOT WORKS MUST BE PRE-APPROVED BY PROPERTY MANAGEMENT AND THE APPROPRIATE FORMS COMPLETED</p>
</ul>


<button ion-button class="checkin" type="submit" block>Sign In</button>
</form>
</div>
</div>
</ion-content>
