<ion-content>

  <div id="logo-container">
    <img src="../../assets/img/christie_logo.png" width=40%>
  </div>
  <div id="check-in-text">
<H1>Thank you for checking in.</H1>
<H2>A member of the Christie Spaces Community Team has been notified you are in Reception.</H2>

  </div>

</ion-content>
