<ion-tabs>

  <ion-tab-bar slot="bottom" style="min-height: 10%;">
    <ion-tab-button tab="check-in">
      <ion-icon name="alarm-outline"></ion-icon>
      <ion-label>Meeting</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="qr">
      <ion-icon name="briefcase-outline"></ion-icon>
      <ion-label>Contractor Sign In</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="contractor-out">
      <ion-icon name="briefcase-outline"></ion-icon>
      <ion-label>Contractor Sign Out</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="mail">
      <ion-icon name="mail-outline"></ion-icon>
      <ion-label>Mail</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/locations']">
      <ion-icon name="navigate-circle-outline"></ion-icon>
      <ion-label>Change Location</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
  </ion-tabs>
