#center-margin{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
}

.container-mt30{
    max-width: 80%;
    margin-left: 10%;
    margin-top: 30%;
}

.checkin {
	background-color:#298fc2;
	border:1px solid #298fc2;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:24px;
	padding:14px 56px;
	text-decoration:none;
	bottom: 0%;
}
.checkin:hover {
	background-color:#00a7b5;
}
.checkin:active {
	position:relative;
	top:1px;
}

.li{
    text-align: left;
}


#logo-container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 20%;
    transform: translateY(-50%);
  }

