<ion-tabs>

  <ion-tab-bar slot="bottom" style="min-height: 10%;">
    <ion-tab-button tab="check-in">
      <ion-icon name="alarm-outline"></ion-icon>
      <ion-label>Meeting</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="general">
      <ion-icon name="help-circle-outline"></ion-icon>
      <ion-label>Community Team Assistance</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="leasing">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Leasing Enquiries</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/locations']">
      <ion-icon name="navigate-circle-outline"></ion-icon>
      <ion-label>Change Location</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
  </ion-tabs>
