<ion-content>
  <div id="logo-container">
    <img src="../../assets/img/christie_logo.png" width=40%>
  </div>
  <div class="container-mt30">
    <div id="center-margin">
      <ion-text>
        <h2>Your Details</h2>
      </ion-text>
      <form #generalform="ngForm" (ngSubmit)="general(generalform)" novalidate>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-input type="text" autocapitalize="words" required [(ngModel)]="visitor.firstName"
                  [ngModelOptions]="{standalone: true}" placeholder="First Name"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-input type="text" autocapitalize="words" required [(ngModel)]="visitor.lastName"
                  [ngModelOptions]="{standalone: true}" placeholder="Last Name"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-input type="text" autocapitalize="words" required [(ngModel)]="visitor.company"
                  [ngModelOptions]="{standalone: true}" placeholder="Company"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-input type="number" required [(ngModel)]="visitor.phoneNumber"
                  [ngModelOptions]="{standalone: true}" placeholder="Phone Number"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="container-mt30">


        </div>

        <button ion-button class="checkin" type="submit" block>Request Assistance</button>
      </form>
    </div>
  </div>

</ion-content>