<ion-content>

  <div id="logo-container">
    <img src="../../assets/img/christie_logo.png" width=40% >
  </div>
  <div id="check-in-text">

<H1>Property Induction</H1>
<p class="left">When entering this site, you must have a completed
  online induction.</p>

  <p>To complete the induction:<br><br>1. Scan the QR Code using the camera on your phone or device.<br>2. Complete the induction using your phone or device.</p>

<div>
  <img src="../../assets/img/QR.png" width= 40%>
</div>
<p>If you are not able to scan the QR Code, you can
  complete the online induction at this address:
  https://userlogin.com.au/christiespaces/</p>

  <button ion-button class="checkin" type="submit" (click) ="inducted()" block>I'm Inducted</button>
  </div>


</ion-content>
