.container-mt20{
  max-width: 80%;
  margin-left: 10%;
  margin-top: 20%;
}
.container{
  max-width: 80%;
  margin-left: 10%;
  margin-top:5%;
  overflow-y: auto; height:530px; 
}

.spinner-container {
  width: 100%;
  text-align: center;
  padding: 10px;
}

#center-margin{
  margin-left: 10%;
  margin-right: 10%;

}

.checkin {
background-color:#298fc2;
border:1px solid #298fc2;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-size:24px;
padding:14px 56px;
text-decoration:none;
  margin-left: 35%;

  margin-top: 5%;
}
.checkin:hover {
background-color:#00a7b5;
}
.checkin:active {
position:relative;
top:1px;
}

h1 {
  font-family: Montserrat,sans-serif;
  font-size: 40px;
  text-align: center;
  font-weight: 400;
  line-height: 1.8;
  color: #1f2a44;
}

h2 {
  font-family: Montserrat,sans-serif;
  font-size: 40px;
  text-align: center;
  font-weight: 400;
  color: #1f2a44;
}
