<ion-content>

  <div id="logo-container">
    <img src="../../assets/img/christie_logo.png" width=40%>
  </div>
  <div id="check-in-text">
<H1>Thank you.</H1>
<H2>The Member has been notified there is a delivery in Reception.</H2>

  </div>

</ion-content>
