.heading-container {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
    margin-bottom: 5%;
    text-align: center;
}


#logo-container {
    text-align: center;
  
    position: fixed;
    left: 0;
    right: 0;
    bottom: 2%;
    transform: translateY(-50%);
  }
  