

<ion-content>
  
  <div class="heading-container">
    <h1><strong>Select your Office</strong></h1>
  </div>
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="../../assets/img/320-adelaide-st.jpg" [routerLink]="['/locations/adelaide-st']" />
          <ion-card-header>
            <ion-card-title [routerLink]="['/locations/adelaide-st']">320 Adelaide Street Brisbane</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img src="../../assets/img/240-queen-st.jpg" [routerLink]="['/locations/queen-st']" />
          <ion-card-header>
            <ion-card-title [routerLink]="['/locations/queen-st']">240 Queen Street Brisbane</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img src="../../assets/img/3-spring-street.jpg" [routerLink]="['/locations/spring-st']" />
          <ion-card-header>
            <ion-card-title [routerLink]="['/locations/spring-st']">3 Spring Street Sydney</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="../../assets/img/100-walker-street.jpg" [routerLink]="['/locations/walker-st']" />
          <ion-card-header>
            <ion-card-title [routerLink]="['/locations/walker-st']">100 Walker Street North Sydney</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
        <img src="../../assets/img/56-berry-st.jpg" [routerLink]="['/locations/berry-st']" />
        <ion-card-header>
          <ion-card-title [routerLink]="['/locations/berry-st']">56 Berry Street North Sydney</ion-card-title>
        </ion-card-header>
      </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
        <img src="../../assets/img/454-collins-street.jpg" [routerLink]="['/locations/collins-st']" />
        <ion-card-header>
          <ion-card-title [routerLink]="['/locations/collins-st']">454 Collins Street Melbourne</ion-card-title>
        </ion-card-header>
      </ion-card>
      </ion-col>
    </ion-row>
</ion-grid>  

<div id="logo-container">
  <img src="../../assets/img/christie_logo.png" width=40%>
</div>
</ion-content>
