<ion-content>
  <div class="container-mt20">
    <div id="center-margin">
      <ion-text>
        <h2>Your Details</h2>
      </ion-text>
      <form #form="ngForm" (ngSubmit)="visitorIn(form)" novalidate>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-input type="text" autocapitalize="words" required [(ngModel)]="visitor.firstName"
                  [ngModelOptions]="{standalone: true}" placeholder="First Name"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-input type="text" autocapitalize="words" required [(ngModel)]="visitor.lastName"
                  [ngModelOptions]="{standalone: true}" placeholder="Last Name"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-input type="text" autocapitalize="words" required [(ngModel)]="visitor.company"
                  [ngModelOptions]="{standalone: true}" placeholder="Company"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-input type="number" required [(ngModel)]="visitor.phoneNumber"
                  [ngModelOptions]="{standalone: true}" placeholder="Phone Number"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="container-mt20">
          <ion-text>
            <h2 style="margin-left: 3%;">Who are you here to see</h2>
          </ion-text>
          <ion-searchbar [formControl]="searchControl" (ionChange)="onSearchInput()" (ionClear)="onClear()"
            (ionCancel)="onCancel()"></ion-searchbar>
          <div *ngIf="searching" class="spinner-container">
            <ion-spinner></ion-spinner>
          </div>

        </div>
        <div *ngIf="searchResults" class="container">
          <ion-list>
            <ion-item *ngFor="let member of BERmembers">
              <p> <strong> {{ member.name }}</strong> - {{ member.company_name }} </p>
              <ion-checkbox slot="end" (click)="clickMember(member)"></ion-checkbox>
            </ion-item>

          </ion-list>
        </div>
        <button ion-button class="checkin" type="submit" block>Check In</button>
      </form>
    </div>
  </div>

</ion-content>