#logo-container {
    text-align: center;
    padding-bottom: 200px;
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    transform: translateY(-50%);
  }



  #check-in-text {
 
    text-align: center;
    position: relative;
    left: 25%;
    max-width: 50%;
    top: 50%;
    transform: translateY(-50%);

  }
  
  h1 {
    font-family: Montserrat,sans-serif;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    line-height: 1.8;
    color: #1f2a44;
  }

  h2 {
    font-family: Montserrat,sans-serif;
    font-size: 40px;
    text-align: center;
    font-weight: 400;
    color: #1f2a44;
  }
  
  

p {
    font-family: Montserrat,sans-serif;
    font-size: 20px;
    text-align: left;
    font-weight: 400;
    color: #1f2a44;
  }

  .checkin {
	background-color:#298fc2;
	border:1px solid #298fc2;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:24px;
	padding:14px 56px;
	text-decoration:none;
	bottom: 0%;
}
.checkin:hover {
	background-color:#00a7b5;
}
.checkin:active {
	position:relative;
	top:1px;
}