
<ion-content>

  <div id="logo-container">
    <img src="../../assets/img/christie_logo.png" width=40%>
  </div>
<div id="container">



<div id="center-margin">
  <form #form="ngForm" (ngSubmit)="signOut(form)" novalidate>
    <ion-grid>
      <ion-row>
        <ion-col>
    <ion-item>
      <ion-input type="text" autocapitalize="words" required [(ngModel)]="contractor.firstName" [ngModelOptions]="{standalone: true}" placeholder="First Name"></ion-input>
    </ion-item>
  </ion-col>
<ion-col>
    <ion-item>
      <ion-input type="text" autocapitalize="words" required [(ngModel)]="contractor.lastName" [ngModelOptions]="{standalone: true}" placeholder="First Name"></ion-input>
    </ion-item>
  </ion-col>
  </ion-row>

  </ion-grid>
 
 

  <button ion-button class="checkin" type="submit" block>Sign Out</button>
</form>
</div>
</div>
</ion-content>