<ion-content>

  <div id="logo-container">
    <img src="../../assets/img/christie_logo.png" width=40%>
  </div>
  <div id="check-in-text">
<H1>Thank you for Signing Out.</H1>
<H2>Have a Great Day!</H2>

  </div>

</ion-content>
