#logo-container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    transform: translateY(-50%);
  }

  #check-in-text {
    text-align: center;
  
    position: relative;
    left: 25%;
    max-width: 50%;
    top: 30%;
    transform: translateY(-50%);

  }
  
  h1 {
    font-family: Montserrat,sans-serif;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    line-height: 1.8;
    color: #1f2a44;
  }

  h2 {
    font-family: Montserrat,sans-serif;
    font-size: 40px;
    text-align: center;
    font-weight: 400;
    color: #1f2a44;
  }
  
  