<ion-content>
  <div id="logo-container">
    <img src="../../assets/img/christie_logo.png" width=40%>
  </div>
  <div class="container-mt30">
    <div id="center-margin">
      <form #mailForm="ngForm" (ngSubmit)="mailIn(mailForm)" novalidate>
        <div class="container-mt20">
          <ion-text>
            <h2 style="margin-left: 3%;">Select the Member the mail is addressed to.</h2>
          </ion-text>
          <ion-searchbar [formControl]="searchControl" (ionChange)="onSearchInput()" (ionClear)="onClear()"
            (ionCancel)="onCancel()"></ion-searchbar>
          <div *ngIf="searching" class="spinner-container">
            <ion-spinner></ion-spinner>
          </div>

        </div>
        <div *ngIf="searchResults" class="container">
          <ion-list>
            <ion-item *ngFor="let member of WLKmembers">
              <p> <strong> {{ member.name }}</strong> - {{ member.company_name }} </p>
              <ion-checkbox slot="end" (click)="clickMember(member)"></ion-checkbox>
            </ion-item>

          </ion-list>
        </div>
        <button ion-button class="checkin" type="submit" block>Send Mail Delivery Notification</button>
      </form>
    </div>
  </div>

</ion-content>