/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.checkin {
	background-color:#298fc2;
	border:1px solid #298fc2;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:24px;
	padding:14px 56px;
	text-decoration:none;
}
.checkin:hover {
	background-color:#00a7b5;
}
.checkin:active {
	position:relative;
	top:1px;
}



#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  h1 {
    font-family: Montserrat,sans-serif;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    line-height: 1.8;
    color: #1f2a44;
  }

  h2 {
    font-family: Montserrat,sans-serif;
    font-size: 40px;
    text-align: center;
    font-weight: 400;
    color: #1f2a44;
  }
  

