<div class="background" [ngStyle]="{'background-image': 'url(' + backgroundImage + ')'}">

  <div id="logo-container">
  <img src="../../assets/img/Logo White - Digital Version High Resolution.png" width=40%>
</div>
  <div id="container">
<button class="checkin" [routerLink]="['/locations']">Visitor Check-in</button>
  </div>

</div>
 

