

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#logo-container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 35%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.background  {
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 102;
  min-height: 100%;

}

.checkin {
	background-color:#298fc2;
	border:1px solid #298fc2;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:24px;
	padding:14px 56px;
	text-decoration:none;
}
.checkin:hover {
	background-color:#00a7b5;
}
.checkin:active {
	position:relative;
	top:1px;
}

        